[Desktop Entry]
Name=Tess
Comment=Board Game Learning Platform
Exec=xdg-open http://127.0.0.1:8460
Type=Application
Categories=Game;BoardGame;
Terminal=false
